<div class="container my-5">
    <div class="row" id="rowContainer">
        <div class="col-2 mx-4 h-100">
            <h3>Agregar Producto</h3>
            <p style="font-size: 0.7rem;">
                Titulo: <input type="text" id="npTitulo">
                Descripcion: <input type="text" id="npDescripcion">
                Precio: <input type="text" id="npPrecio">
                Imagen: <input type="text" id="npImagen">
                Codigo: <input type="text" id="npCodigo">
                Stock: <input type="text" id="npStock">
                Estado: <input type="text" id="npEstado">
                <button id="aggProductoBtn">Agregar</button>
            </p>


            <h3 class="my-3">Eliminar Producto</h3>
            <p style="font-size: 0.7rem;">
                Seleccione el ID del producto: <input type="text" id="pid">
                <button id="delBtn">borrar</button>
            </p>
        </div>
        {{#each showProducts}}
        <div class="col my-3 " id="id{{this.id}}">
            <div class="card" style="width: 18rem;">
                <img src={{this.thumbnails}} class="card-img-top" alt={{this.title}}>
                <div class="card-body">
                    <h5 class="card-title">{{this.title}}</h5>
                    <p class="card-text">{{this.description}}</p>
                    <p class="my-4">Precio x Und: <b>{{this.price}}</b></p>
                    <p>ID: <b>{{this.id}}</b></p>

                </div>
            </div>
        </div>
        {{/each}}
    </div>

</div>


<script src="https://cdnjs.cloudfare.com/ajax/libs/socket.io/4.6.1/socket.io.js"></script>
<script src="http://localhost:8081/socket.io/socket.io.js"></script>
<script src="../public/js/index.js"></script>